
.header-container {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e5e7eb;;
}

.header-content {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(to right, #9333ea, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
